asgiref
Django
django-extensions
django-filter
djangorestframework
djangorestframework-jsonapi
inflection
python-dotenv
pytz
sqlparse
tzdata
gunicorn
whitenoise
django-cors-headers 
channels==2.4.0
Channels-Redis
Redis
daphne
